<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428741327030-pvqtm1ingavqtcqjv5a9elov0hns90nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428741327030-pvqtm1ingavqtcqjv5a9elov0hns90nm</string>
	<key>API_KEY</key>
	<string>AIzaSyCEPPkkAGPKKfumqH3EBjt4Y3a9EO9-4Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>428741327030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ma3ak</string>
	<key>PROJECT_ID</key>
	<string>ma3ak-85830</string>
	<key>STORAGE_BUCKET</key>
	<string>ma3ak-85830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428741327030:ios:f07a5b01d11883c399ce17</string>
</dict>
</plist>